@import './base.css';


header {
  border-bottom: 1px solid gray;
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: center;
  height: 4rem;


}

@media screen  and (max-width: 760px) {
  header {
    justify-content: space-around;
  }

}
